<header>
    <h1>{{pageTitle}}</h1>
    <p>
        <a href="/">Trang chủ</a> | 
        <a href="/inventory">Kho hàng</a> | 
        <a href="/inventory/add">Nhập hàng</a> | 
        <a href="/about">Giới thiệu</a>
    </p>
</header>
<hr>